/*Общие стили*/
.brick-theme {
	background-color: #141114;
  	background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  	background-size: 58px 58px;
  	background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
	margin: 0px;
	font-family: electron;
	font-size: 25px;
	color: white;
	text-shadow: 1px 1px 7px #03e9f4;
	letter-spacing: 2px;
}

.neon-theme {
    background-image: url(..//images/background.jpg);  
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0px;
    font-family: electron;
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px 7px #03e9f4;
    letter-spacing: 2px;
}

@font-face {
    font-family: electron;
    src: url(../fonts/electron.ttf);
}

@font-face {
    font-family: neon;
    src: url(../fonts/neon.ttf);
}

/*Шапка сайта*/
.header h1 {
	text-align: center;
    font-family: neon;
	text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #BFE2FF, 0 0 0.5em #BFE2FF, 0 0 0.1em #BFE2FF;
}

.header h1 span {
	animation-name: header-animation;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}

/*Главное меню*/
.main-menu {
    text-align: center;
	margin-left: auto;
	margin-right: auto;	
	padding: 20px;
	border-top: 5px solid #DCDCDC;
	border-bottom: 5px solid #DCDCDC;
	box-shadow: 0 0 15px #03e9f4;
}

.main-menu button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
	font-size: 25px;
	margin-right: 5px;
	text-decoration: none;
	color: white;
    font-family: electron;
	text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #BFE2FF, 0 0 0.5em #BFE2FF, 0 0 0.1em #BFE2FF;
}

.main-menu button:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

/*Страница*/
.catalog {
    margin-right: 10%;
    margin-left: 10%;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.catalog h2 {
    text-align: center;
    margin-top: 0px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    overflow: hidden;
    max-width: 250px;
    text-align: center;
    border: solid 1px white;
    margin: 30px;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 0 15px #03e9f4;
}

.card:hover {
    bottom: 15px;
}

.card-image {
    cursor: pointer;
    border-bottom: 1px solid white;
}

.card-button {
    margin-top: 10px; 
    margin-bottom: 10px;
}

.button-card {
    cursor: pointer;
    border-radius: 50px;
    outline: none;
    font-size: 30px;
    color: white;
    background: transparent;
    border: 1px solid white;
    padding: 10px;
    font-family: electron;
}

.button-card:hover {
    border: none;
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

/*Подвал сайта*/
.footer {
	text-align: center;
	height: 100px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 2;
}

.footer hr {
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0 0 15px #03e9f4;
	background-color: white;
	border: 2px solid #DCDCDC;
}

.footer hr:nth-child(3) {
	max-width: 70%;
}

.contacts {
	margin-top: 15px;
}

.footer a {
	margin-right: 15px;
	filter: drop-shadow(0 0 5px #03e9f4);
}

/*
    @keyframes card-animation {
    from {
        max-width: 200px;
        opacity: 0.8;
    }
    50% {
        max-width: 150px;
        opacity: 0.4;
    }
    to {
        max-width: 50px;
        opacity: 0;
    }
    }

    overflow: hidden;
    max-width: 250px;
    text-align: center;
    border: solid 1px white;
    margin: 30px;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 0 15px #03e9f4;

    animation-name: card-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    .card-animation {
    animation-name: card-animation;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
*/